/*================== breakpoints ==================*/

$breakpoints: (
        'small':  ( min-width:  768px ),
        'medium': ( min-width:  992px ),
        'large':  ( min-width: 1200px ),
) !default;

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
                    type-of($raw-query) == 'string',
                    unquote($raw-query),
                    inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


  //@include respond-to('small') {
  //  background-color: green;    //test for delete
  //}
  //
  //@include respond-to('medium') {
  //  background-color: red;  //test for delete
  //}
  //
  //@include respond-to('large') {
  //  background-color: yellow;       //test for delete
  //}
}

/*================== nav ==================*/
.nav__logo img{
  height: 30px;
  padding: 10px;
}

.nav {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.nav li a {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #333333;
}

.nav li a:hover,
.nav .menu-btn:hover {
  background-color: #f4f4f4;
}

.nav .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

//@media (min-width: 48em) {
//  .nav li {
//    float: left;
//  }
//  .nav li a {
//    padding: 20px 30px;
//  }
//  .nav .menu {
//    clear: none;
//    float: right;
//    max-height: none;
//  }
//  .nav .menu-icon {
//    display: none;
//  }
//}


@include respond-to ('small') {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
}


/*================== article ==================*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;

 .header__photo {
  padding-top: 100px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  & img {
    border-radius: 50%;
   }
  }
  .header__main-text {
    display: flex;
    justify-content: center;
  }
  .header__paragraph {
    display: flex;
    justify-content: center;
  }
}

.header2 {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}
